<%- include(root + '/views/header' ) -%>
  <main>
    <div class="card mb-3">
      <h2>The Project - ProCardio</h2>
      <p class="card_text">This website was developed by a group of students at KTH. The innitial
        idea was to be able to run in Central Park from the treadmill at the
        Lab at campus Flemingsberg KTH. The software can connect to any treadmill with USB support and on a browser with
        Bluetooth support. Take a look at our <a href="https://github.com/asmundur31/ProCardio">Github</a> page for 
        instructions how to download and run the code.
      </p>
    </div>
    <div class="card mb-3">
      <h2>Á.Ó. Ásmundsson</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666974736/Treadmill/asmundur_wwoxnc.jpg">
        <p class="card_text">A master student at KTH in Sports Technology. Has a BSc in Software engineering from the University of Iceland.</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S.A.R. Rafay</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1670797735/Treadmill/rafay_iy0qni.jpg">
        <p class="card_text">A master student in KTH Sports technology. Has a Bachelor degree in Electronic Engineering.</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S. Karchut</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1670796094/Treadmill/sabina_fmszqy.jpg">
        <p class="card_text">3rd year BSc student in Medical Engineering at KTH. Has BSc in Physical Therapy from Karolinska Institute.</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S. Wronska</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1670796095/Treadmill/sofia_wtu65r.jpg">
        <p class="card_text">My name is Sofia Wronska, and my subject of study is medical engineering. I am currently studying the last year of my bachelor's at KTH.</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>Y. Huang</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1670797292/Treadmill/yuping_ptce28.jpg">
        <p class="card_text">My name is Yuping Huang. A master student at KTH in Sports technology. Had my bachelor degree in Mechatronics and robotic system from University of Liverpool.</p>
      </div>
    </div>
  </main>
  <%- include(root + '/views/footer') -%>
