<%- include(root + '/views/header' ) -%>
  <main>
    <div class="card mb-3">
      <h2>The Project</h2>
      <p class="card_text">This website was developed by a group of students at KTH. The innitial
        idea was to be able to run in Central Park from the treadmill from the
        Lab at campus Flemingsberg KTH. The software can connect to any treadmill with USB support and on a browser with
        Bluetooth support. More...</p>
    </div>
    <div class="card mb-3">
      <h2>Á.Ó. Ásmundsson</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666974736/Treadmill/asmundur_wwoxnc.jpg">
        <p class="card_text">A master student at KTH in Sports Technology. Has a BSc in Software
          engineering from the University of Iceland.</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S.A.R. Rafay</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666975665/Treadmill/student_silhouette_loxaih.jpg">
        <p class="card_text">Bla Bla...</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S. Karchut</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666975665/Treadmill/student_silhouette_loxaih.jpg">
        <p class="card_text">Bla Bla...</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>S. Wronska</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666975665/Treadmill/student_silhouette_loxaih.jpg">
        <p class="card_text">Bla Bla...</p>
      </div>
    </div>
    <div class="card mb-3">
      <h2>Y. Huang</h2>
      <div class="content">
        <img class="card_profile" src="https://res.cloudinary.com/dwqpirk6g/image/upload/v1666975665/Treadmill/student_silhouette_loxaih.jpg">
        <p class="card_text">hi im yuping..</p>
      </div>
    </div>
  </main>
  <%- include(root + '/views/footer') -%>
