<%- include(root + '/views/header') -%>
<main>
  <div class="card mt-5">
    <h1>Everyone can run everywhere on any treadmill</h1>
    <p class="lead text-center">Choose a route from our selections of routes or take a test to find out your status</p>
    <p class="lead text-center">
      <a href="./routes" class="btn btn-lg btn-secondary fw-bold">Routes</a>
      <a href="./tests" class="btn btn-lg btn-secondary fw-bold">Tests</a>
    </p>
  </div>
</main>

<%- include(root + '/views/footer') -%>
