<%- include(root + '/views/header') -%>
<main>
  <div class="d-flex justify-content-center">
    <img src="<% root %>/static/favicon.svg" alt="Our cool logo" style="max-height: 200px">
  </div>
  <div class="card mt-4">
    <h1>Everyone can run everywhere on any treadmill</h1>
    <p class="lead text-center">Choose a route from our selections of routes or take a test to find out your status</p>
    <p class="card_text text-center">
      <a href="./routes" class="btn btn-lg btn-secondary fw-bold">Routes</a>
      <a href="./tests" class="btn btn-lg btn-secondary fw-bold">Tests</a>
    </p>
  </div>
</main>

<%- include(root + '/views/footer') -%>
