<%- include('header') -%>

  <h1>Treadmill</h1>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Routes
          </button>
          <ul class="dropdown-menu" id="dropdown_routes">
            <li>
              <a class="dropdown-item" href="#" id="TestRoute">Test route</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="BigBuckBunny">Bunny</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="ParkRun">Park</a>
            </li>
            <li>
              <a class="dropdown-item" href="#" id="Park2">Park2</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <video id="video" controls>
          <source src="./static/videos/TestRoute.mp4" type="video/mp4">
        </video>
      </div>
      <div class="col-12 d-flex justify-content-center">
        <div class="video_controls">
          <button type="button" class="btn btn-outline-primary"
            id="button_slower">
            -
          </button>
          <button type="button" class="btn btn-success" id="button_start">
            Start
          </button>
          <button type="button" class="btn btn-danger" id="button_stop">
            Stop
          </button>
          <button type="button" class="btn btn-outline-primary"
            id="button_faster">
            +
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-6">
        <h3>Controls</h3>
        <div>
          <div id="video_controls">
            <h5>Video controls</h5>
            <div class="video_speed_controls">
              <label for="new_video_speed">Video speed:</label>
              <input type="number" id="new_video_speed">
              <button type="button" class="btn btn-outline-primary"
                id="button_new_video_speed">Set speed</button>
            </div>
          </div>
          <hr>
          <div class="d-flex flex-column d-none" id="treadmill_controls">
            <h5>Treadmill controls</h5>
            <div class="treadmill_start_stop">
              <button type="button" class="btn btn-success"
                id="start_treadmill">
                Start
              </button>
              <button type="button" class="btn btn-danger" id="stop_treadmill">
                Stop
              </button>
            </div>
            <div class="treadmill_speed_controls">
              <label for="new_treadmill_speed">Treadmill speed:</label>
              <input type="number" id="new_treadmill_speed">
              <button type="button" class="btn btn-outline-primary"
                id="button_new_treadmill_speed">Set speed</button>
            </div>
            <div class="treadmill_incline_controls">
              <label for="new_treadmill_incline">Incline:</label>
              <input type="number" id="new_treadmill_incline">
              <button type="button" class="btn btn-outline-primary"
                id="button_new_treadmill_incline">Set incline</button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-6 d-flex flex-column">
        <h3>Data</h3>
        <div>
          <label for="video_speed_text">Video speed:
          </label>
          <span id="video_speed_text">1x</span>
        </div>
        <div>
          <label for="treadmill_speed_text">Treadmill speed:</label>
          <span id="treadmill_speed_text">0 km/h</span>
        </div>
        <div>
          <label for="treadmill_incline_text">Treadmill incline:</label>
          <span id="treadmill_incline_text">0 %</span>
        </div>
        <div>
          <label for="treadmill_total_distance_text">Total distance:</label>
          <span id="treadmill_total_distance_text">0 m</span>
        </div>
        <div>
          <label for="treadmill_distance_text">Distance:</label>
          <span id="treadmill_distance_text">0 m</span>
        </div>
        <div>
          <label for="hr_text">HR:</label>
          <span id="hr_text">0 bpm</span>
        </div>
        <div>
          <label for="elevation_text">Elevation:</label>
          <span id="elevation_text">0 m</span>
        </div>
        <div>
          <label for="incline_text">Incline:</label>
          <span id="incline_text">0 %</span>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h3>
          HR sensor
        </h3>
      </div>
      <div class="col-12">
        <div class="connection_hr">
          <button type="button" class="btn btn-outline-primary" id="connect_hr">
            Connect
          </button>
          <button type="button" class="btn btn-outline-primary"
            id="disconnect_hr">
            Disconnect
          </button>
        </div>
      </div>
    </div>
    <div class="row mt-5">
      <div class="col-12">
        <h3>
          Treadmill
        </h3>
      </div>
      <div class="col-12">
        <div class="connection_treadmill">
          <button type="button" class="btn btn-outline-primary"
            id="connect_treadmill">
            Connect
          </button>
          <button type="button" class="btn btn-outline-primary"
            id="disconnect_treadmill">
            Disconnect
          </button>
        </div>
      </div>
    </div>
  </div>

  <%- include('footer') -%>