<%- include(root + '/views/header') -%>
<main>
  <p>
    Test with id <%= id %>, TBD...
  </p>
  <a href="/tests" class="btn btn-secondary mt-5">Back</a>
</main>
<%- include(root + '/views/footer') -%>