<% var dir = process.cwd() %>
<%- include(dir + '/views/header') -%>
  <main>
    <p>
      Here comes tests, TBD...
    </p>
    <a href="/home" class="btn btn-secondary mt-5">Back</a>
  </main>
<%- include(dir + '/views/footer') -%>
